@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #222;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.category {
  @apply border-[1.5px] rounded-[8px] h-[38px] leading-[38px] text-[15px] cursor-pointer outline-none;
}

.edit-menu {
  @apply p-[3px] rounded-[3px] cursor-pointer border-[1px] border-white hover:rounded-[3px] hover:border-[#E6E6E6] hover:border-[1px];
}

.root {
  --main-color: #b8ff65;
}
